body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
}

/*Header*/
#header-nav {
  background-color: #E30C20;
  border-radius: 0;
  margin-top: 30px;
  border: 0;
}

#logo-img {
  background: url('../img/tummers_logo.png') no-repeat;
  background-size: 220px 81px;
  width: 220px;
  height: 81px;
  margin: 10px 15px 10px 0;
  position: relative;
  top: -15px;
}

.navbar-brand {
  padding-top: 0px;
}

#nav-list {
  margin: 10px;
}

#nav-list a {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid;
  border-color: white;
}

.navbar-header button.navbar-toggle {
  clear:both;
  position: absolute;
  right: 20px;
  top: 10px;
}

.navbar-header button.navbar-toggle:focus {
  background-color: #E30C20;
}

#main-banner {
  background-color: #FFFBFB;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 15px;
  border: 3px solid #E30C20;
}

#main-content a:hover {
  text-decoration: none;
}

#main-banner h1 {
  font-size: 3em;
  color: red;
}

.jumbotron {
  margin-top: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

#locations-content a {
  color: black;
}

#locations-content a:hover, a:focus {
  text-decoration: none;
}

#hoiday-times {
  background-color: #FFFBFB;
  font-size: 1.3em;
  border: 3px solid #E30C20;
  margin-top: 40px;
  border-radius: 5px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.locations {
  color: black;
  padding-bottom: 20px;
  font-size: 1.1em;
  text-align: center;
}

.location-col {
  margin-bottom: 20px;
}

.locations h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}

.locations h2 {
  font-weight: 700;
  font-size: 1em;
}

.locations h3 {
/*  font-style: italic;*/
  font-weight: 700;
  font-size: 1em;
}

.locations h4 {
  font-weight: 700;
  font-size: 1em;
  color: #E30C20;
}

.locations p {
  font-size: 0.95em;
}

.locations img {
  height: 100%;
  width: 100%;
}

.locations i {
  font-size: 0.9em;
}

.panel-footer {
  color: white;
  background-color: #E30C20; 
  text-align: center;
  font-weight: 400;
  padding-top: 1px;
}

.panel-footer h1 {
  font-size: 1.15em; 
  font-weight: 600;
}

.panel-footer p {
  font-size: 1.15em;
}

.panel-footer a {
  color: white;
}

.panel-footer a:hover {
  text-decoration: none;
  color: white;
}

#footer-icons {
  font-size: 1.8em;
  padding-top: 19px;
}

#footer-icons a:hover {
  color: white;
  text-decoration: none;
}

#footer-tw, #footer-is {
  text-align: left;
}

#footer-fb, #footer-yt {
  text-align: right;
}

#footer-blurb {
  padding-top: 10px;
  font-size: 0.7em;
  font-style: normal;
}

#footer-copyright {
  font-style: normal;
  font-size: 0.55em;
  padding-top: 3px;
}

#vacatures-form, #vacatures-list {
  color: black;
  /*padding-top: 15px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  /*padding-left: 40px;*/
}

#vacatures-list {
  border-left: 1px solid red;
  padding-left: 40px;
}

#vacatures-list h1 {
  text-align: center;
}

#vacatures-form {
  text-align: center;
  margin-right: -5px;
}

#vacatures-form a {
  color: #472300;
}

#vacatures-content button {

  font-size: 2em;
  padding: 15px 25px 15px 25px;
  margin-top: 20px;
  vertical-align: middle;
}

#vacatures-content button:hover, button:active {
  background-color: #FFFBFB;
  border-color: #E30C20;
}

.menu-grid div {
  padding: 15px;
  padding-bottom: 25px;
}

.menu-grid {
  padding-top: 10px;
  padding-bottom: 20px;
}

#menu-feestdagen, #menu-bruids, #menu-bw, #menu-kw  {
  display: block;
  margin: auto;
}

#menu-main img {
  display: block;
  margin: auto;
  width: 100%;
  border: 1px solid #E30C20
}

/********** Large devices only **********/
@media screen and (min-width: 1200px) {

  .vacatures_jumbotron {
    background: url('../img/vacatures_1170.png') no-repeat;
    background-position: center;
    height: 300px;
    margin-bottom: 20px;
  }

  #menu-feestdagen, #menu-bruids, #menu-bw, #menu-kw {
    height: 450px;
    width: 450px;
  }

  .carousel-inner {
    height: 615px;
    width: 820px;
  }
}

/********** Medium devices only **********/
@media screen and (min-width: 992px) and (max-width: 1199px) {

  .vacatures_jumbotron {
    background: url('../img/vacatures_920.png') no-repeat;
    background-position: center;
    height: 300px;
  }
}

/********** Small devices only **********/
@media screen and (min-width: 768px) and (max-width: 991px) {

  #main-banner h1 {
    font-size: 2.5em;
  }

  .panel-footer {
    font-size: 0.95em;
  }

  #nav-list a {
    text-align: right;
    margin-right:-10px;
    font-size: 1.3em;
  }

  .vacatures_jumbotron {
    background: url('../img/vacatures_720.png') no-repeat;
    background-position: center;
    height: 300px;
  }

  #menu-feestdagen, #menu-bruids, #menu-bw, #menu-kw {
    height: 350px;
    width: 350px;
  }
}

/********** Extra small devices only **********/
@media screen and (max-width: 767px) {

  #main-banner h1 {
    font-size: 2em;
  }

  #xs-holiday-times {
    background-color: #FFFBFB;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-bottom: 15px;
    border: 3px solid #E30C20;
  }

  #xs-holiday-times a:hover {
    text-decoration: none;
  }

  #xs-holiday-times h1 {
    font-size: 1.5em;
    color: red;
  }

  #vacatures-form, #vacatures-list {
    text-align: center;
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #vacatures-list {
    border-left: 0px;
  }

  #vacatures-list ul {
    list-style: none;
  }

  #vacatures-form {
    margin-right: 0px;
    padding-bottom: 20px;
  }

  .vacatures-hr {
    width: 80%;
  }

  #logo-img {
    left: 10px;
  }

  .navbar-header {
    height: 70px;
  }

  #collapsable-nav {
    border: 0px;
  }

  .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  .panel-footer hr {
    width: 33%;
  }

  .locations {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
  }

  .locations #locations-content a {
    color: black;
  }

  .locations a:focus, a:hover {
    color: black;
  }

  #footer-tw, #footer-is {
  text-align: left;
  }

  #footer-fb, #footer-yt {
    text-align: right;
  }

  #xs-holiday-times h1 {
    text-transform: capitalize;
  }
}

/*Footer Social Icons*/

@charset "UTF-8";

@font-face {
  font-family: "tummers-icons";
  src:url("../fonts/tummers-icons.eot");
  src:url("../fonts/tummers-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tummers-icons.woff") format("woff"),
    url("../fonts/tummers-icons.ttf") format("truetype"),
    url("../fonts/tummers-icons.svg#tummers-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "tummers-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tummers-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\63";
}
.icon-youtube:before {
  content: "\64";
}