body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/** HEADER **/
#header-nav {
  background-color: #F41A04;
  border-radius: 0;
  margin-top: 30px;
  border: 0;

}

#logo-img {
  background: url('../img/logo.png') no-repeat;
  width: 220px;
  height: 81px;
  margin: 10px 15px 10px 0;
  position: relative;
  top: -15px;
}

.navbar-brand {
  padding-top: 0px;
}

#nav-list {
  margin: 10px;
}

#nav-list a {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid;
  border-color: white;
}

.navbar-header button.navbar-toggle {
  clear:both;
  position: absolute;
  right: 20px;
  top: 10px;
}

.navbar-header button.navbar-toggle:focus {
  background-color: #F41A04;
}

.jumbotron {
  margin-top: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/*.glyphicon-chevron-right, .glyphicon-chevron-left{
  color: black;
}*/

.locations {
  color: black;
  padding-bottom: 20px;
}

.location-col {
  margin-bottom: 20px;
}

.locations h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}

.locations h2 {
  font-weight: 700;
  font-size: 1em;
}

.locations h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 1em;
}

.locations h4 {
  font-weight: 700;
  font-size: 1em;
}

.locations p {
  font-size: 0.95em;
}

.locations img {
  height: 150px;
  width: 200px;
}

.panel-footer {
  color: white;
  background-color: #F41A04; 
  text-align: center;
}

.panel-footer h1 {
  font-size: 1.1em; 
}

.panel-footer p {
  font-size: 1.1em;
}

.panel-footer a {
  color: white;
}

.panel-footer a:hover {
  color: grey;
}

#footer-fb {
  font-size: 2em;
  padding-top: 40px;
}

#footer-fb a:hover {
  color: white;
  text-decoration: none;
}

#footer-blurb {
  padding-top: 10px;
  font-size: 0.7em;
}

#offers-main section {
  margin-bottom: 25px;
  margin-top: 25px;
}

#offers-main img {
  height: 200px;
  width: 300px;
}

#offers-main h1 {
  color: #F41A04;
  font-size: 1.25em;
}

#offers-main h2 {
  color: black;
  font-size: 1.1em;
}

#offers-main a {
  font-size: 1.6em;
  float: right;
  margin-right: 50px;
  width: 130px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  #logo-img {
    left: 10px;
  }

  .navbar-header {
    height: 70px;
  }

  #collapsable-nav {
    border: 0px;
  }

  .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  .panel-footer hr {
    width: 33%;
  }

  .locations {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #offers-main {
    display: flex;
    justify-content: center;
  }

  #offers-main section {
    margin-bottom: 100px;
  }

  #offers-main a {
  margin-right: 0px;
  }
}
